 <!-- contact start -->
        <div class="lower-page" >
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- contact intro start -->
                        <div class="contact-intro">
                            <h2 translate="LOGIN">
                                Login
                            </h2>
                        </div><!-- contact intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- services full start --><!-- services full end -->
                 
                            
                            
                           
                            
                          
                            
                            
                            <div class="sixteen columns">
                                <div id="contact-form">
                                    <form  id="form" method="post" name="send">
                                        <div class="holder">
                                            <div>
                                                <input ng-model="username" class="requiredField name" id="userid" name="userid" placeholder="ID" type="text">
                                            </div>
                                            <div>
                                                <input ng-model="password" class="requiredField email" id="password" name="password" placeholder="Password" type="password">
                                            </div>
                                           
                                        </div>
                                        <div class="holder">
                                            
                                            <div>
                                                <button translate="LOGINBUT" ng-click="UserLogin()" class="submit white-border" data-hover="Submit" type="submit" value="Submit">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- contact form end -->
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- contact end -->