 <!-- contact start -->
        <div class="lower-page" >
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <div class="social-icons-wrapper">
                    <ul class="social-icons">
   
    <li ng-show="currentLang()=='english'">


      <a  ng-click="changeLanguage('chinese')"  >中文版</a>
    </li>
    <li ng-show="currentLang()=='chinese'">
      <a   ng-click="changeLanguage('english')" >English</a>

    </li>
    <li >
      <a class="fa fa-facebook-square fa-2x" target="blank" href="https://www.facebook.com/racingprohk"></a>
    </li>


  </ul>

                    </div>
                    <!-- lower content start -->
                    <div class="lower-content">
                        <!-- contact intro start -->
                        <div class="contact-intro">
                            <h1 translate="CONTACT">
                                
                            </h1>
                        </div><!-- contact intro end -->
                        <!-- container start -->
                        <div class="container center">
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- services full start --><!-- services full end -->
                            <!-- contact column 1 start -->
                            <div class="one-third column contact-column">
                                <div class="info-address">
                                  <span class="awesome"><span class="fa fa-pie-chart"></span></span>

                                    <p class="info" translate="CONTACT_GT1">
                                    </p>
                                    <p>
                                       <p translate="CONTACT_GC1">
                            
                            </p> 
                                    </p>
                                </div>
                            </div><!-- contact column 1 end -->
                            <!-- contact column 2 start -->
                            <div class="one-third column contact-column">
                                <div class="info-phone">
                                    <span class="awesome"><span class="fa fa-phone"></span></span>
                                    <p class="info" translate="CONTACT_GT2">
                                       
                                    </p>
                                    <p translate="CONTACT_GC2">
                                      

                                    </p>
                                </div>
                            </div><!-- contact column 2 end -->
                            <!-- contact column 3 start -->
                            <div class="one-third column contact-column">
                                <div class="info-email">
                                    <span class="awesome"><span class="fa fa-usd"></span></span>
                                    <p class="info" translate="CONTACT_GT3">

                                    </p>
                                    <p translate="CONTACT_GC3">
                                       

                                       
                                    </p>
                                    <p class="info" translate="CONTACT_GT4">  </p>
                                       
                                    <p translate="CONTACT_GC4">                                    
                                </p>
                                </div>
                            </div><!-- contact column 3 end -->
                            
                            
                           
                            
                          
                            
                            
                            <!-- <div class="sixteen columns">
                                <div id="contact-form">
                                    <form action="contact.php" id="form" method="post" name="send">
                                        <div class="holder">
                                            <div>
                                                <input class="requiredField name" id="name" name="name" placeholder="Name" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text">
                                            </div>
                                        </div>
                                        <div class="holder">
                                            <div>
                                                <textarea class="requiredField message" id="message" name="message" placeholder="Message">
</textarea>
                                            </div>
                                            <div>
                                                <button class="submit white-border" data-hover="Submit" type="submit" value="Submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> --><!-- contact form end -->
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        <!-- closer start -->
                       
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- contact end -->