

  <ul class="social-icons">
   
    <li ng-show="currentLang()=='english'">
       <a class="fa fa-facebook-square fa-2x" target="blank" href="https://www.facebook.com/racingprohk"></a>

      <a  ng-click="changeLanguage('chinese')" class="lang" >中文版</a>
        
    </li>
    <li ng-show="currentLang()=='chinese'">
         <a class="fa fa-facebook-square fa-2x" target="blank" href="https://www.facebook.com/racingprohk"></a>
      <a   ng-click="changeLanguage('english')" class="lang">English</a>
         

    </li>
   

  </ul>
