<!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
<!-- screen loader start -->

        <!-- upper page start -->
        <div class="upper-page current" >
            <!-- center container start -->
            <div class="center-container-home">
                <!-- center block start -->
                <div class="center-block">
                    <!-- borders start -->
                    <div class="borders"></div><!-- borders end -->
                    <!-- social icons start -->
                    <div class="social-icons-wrapper">
                    <ng-include src="'app/view/WeatherBar.html'"></ng-include>
                    </div>
                    <!-- upper content start -->
                    <div class="upper-content">
                        <!-- container start -->
                        <div class="container center">
                            <!-- intro wrapper start -->
                            <div id="intro-wrapper">
                                <div class="eight columns column">
                                    <div id="intro-top-line" style="background: url(assets/images/intro-top-line.png) no-repeat right;
"></div>
                                </div>
                                <div class="eight columns column">
                                    <div id="intro-top">
                                        RACING PRO
                                    </div>
                                </div>
                                <div class="sixteen columns">
                                    <div id="intro-title">
                                      <img style="max-width:100%;" src="assets/images/logo.png"/>
                                    </div>
                                </div>

                                <div class="eight columns column">
                                    <!-- teaser start -->
                                    <div id="teaser">
                                        <div id="teaser-text">
                                            <!-- teaser line 1 start -->
                                            <div class="teaser-text-animation active first">
                                                <h3>
                                                    <span class="teaser-normal"  >Professional
</span> <span class="teaser-highlight" >horse racing program</span>
                                                </h3>
                                            </div><!-- teaser line 1 end -->
                                            <!-- teaser line 2 start -->
                                            <div class="teaser-text-animation">
                                                <h3>
                                                    <span class="teaser-normal" >Data analysis </span> <span class="teaser-highlight" >of competition</span>
                                                </h3>
                                            </div><!-- teaser line 2 end -->
                                            <!-- teaser line 3 start -->
                                            <div class="teaser-text-animation">
                                                <h3>
                                                    <span class="teaser-normal" >Simple </span> <span class="teaser-highlight" >and easy to use</span>
                                                </h3>
                                            </div><!-- teaser line 3 end -->
                                             <!-- teaser line 3 start -->
                                            <div class="teaser-text-animation">
                                                <h3>
                                                    <span class="teaser-normal" >Professional </span> <span class="teaser-highlight" >horse racing program</span>
                                                </h3>
                                            </div><!-- teaser line 3 end -->

                                        </div>
                                    </div><!-- teaser end -->
                                </div>
                                <div class="eight columns column">
                                    <div id="intro-bottom-line" style="background: url(assets/images/intro-bottom-line.png) no-repeat left;
"></div>
                                </div>
                            </div><!-- intro wrapper end -->
                        </div><!-- container end -->
                    </div><!-- upper content end -->

                 <!--   <div id="countdown-wrapper">
                        <div id="countdown-wrap">
                            <ul id="countdown">
                                <li>
                                    <span id="days-sub">days</span> <input class="knob" data-fgcolor="#fff" data-height="140" data-max="366" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="140" id="days">
                                </li>
                                <li>
                                    <span id="hours-sub">hours</span> <input class="knob" data-fgcolor="#fff" data-height="140" data-max="24" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="140" id="hours">
                                </li>
                                <li>
                                    <span id="mins-sub">minutes</span> <input class="knob" data-fgcolor="#fff" data-height="140" data-max="60" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="140" id="mins">
                                </li>
                                <li>
                                    <span id="secs-sub">seconds</span> <input class="knob" data-fgcolor="#fff" data-height="140" data-max="60" data-min="0" data-readonly="true" data-skin="tron"
                                    data-thickness="0.1" data-width="140" id="secs">
                                </li>
                            </ul>
                        </div>
                    </div>--><!-- launch countdown end -->

                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- upper page end -->

