<nav class="menu">
            <ul class="mainNav">
                <li class="curr">
                    <a class="menu-state active" href="#" ><span class="navNumber">00</span> <span class="navTitle" translate="HOME">Home</span><br>
                    Racing Pro</a>
                </li>
                <li>
                    <a class="menu-state" href="#about" ><span class="navNumber">01</span> <span class="navTitle" translate="ABOUT">ABOUT</span><br>
                    Who we are</a>
                </li>
                <li>
                    <a class="menu-state" href="#login" ><span class="navNumber">02</span> <span class="navTitle" translate="APP">App</span><br>
                    Get started</a>
                </li>
                <li>
                    
                    <a  class="menu-state" href="#terms" ><span class="navNumber">03</span> <span class="navTitle" translate="TERMS">Terms</span><br>learn More
                   </a>
                    
                    
                </li>
                
                 <li>
                    <a class="menu-state" href="#contact" ><span class="navNumber">04</span> <span class="navTitle" translate="CONTACT">Contact</span><br>
                    Find Us</a>
                </li>
                
                  
                 
                                 

                
                
            </ul>
        </nav><!-- menu end -->
        