 <!-- about start -->
        <div class="lower-page" >
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="social-icons-wrapper">
                                       <ng-include src="'app/view/langBar.html'"></ng-include>

                    </div>
                    <div class="lower-content">
                        <!-- about intro start -->
                        
                        <!-- container start -->
                        <div class="container center">
                            <div class="about-intro">
                            <h2 translate="TERMS_TITLE">
                               
                            </h2>
                        </div><!-- about intro end -->
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- about full start -->
                            <div ng-show ="currentLang()=='chinese'" class="sixteen columns about-column-full myfont" >
                               

<p>閣下購買或使用有關產品或服務（定義見下文）前，請先細閱本服務條款。
一旦閣下購買或使用有關產品或服務，即已表示閣下同意接受並遵守本服務條款。</p>
                               
<p>1. 接受條款 </p>
<p>以下為「Racing Pro」為訂戶提供的訂購服務之條款。所有訂戶必須遵守以下條款。而「Racing Pro」會於必要時更新條款內容。如訂戶並未同意遵守訂購條款，請勿進行訂 購登記。所有已付之費用將不會退還。
                                </p>
<p>2. 服務簡介 </p>
<p>訂購服務是指訂購瀏覽「Racing Pro」的服務。「Racing Pro」透過互聯網或其他電子工具將訂購服務傳送至訂戶。訂戶須確定接收訂購服務之電話線路、電腦硬件及其他裝置操作正常。
                                </p>
<p>3. 訂戶責任 </p>
<p>訂購服務只限付款訂戶使用，使用權不可轉交他人。要維持正常的訂購服務，訂戶必須︰<br/>
(i) 依時繳交訂購費用；<br/>
(ii) 訂購時提供正確及完整之個人資料；及<br/>
(iii) 必要時更新個人資料。<br/>
若提供的資料有誤，「Racing Pro」有權終止對訂戶提供之服務。
                                </p>
<p>4. 修改訂購條款 </p>
<p>「Racing Pro」有權修改訂購條款，包括增加訂購費用等等。此類修改、增加或刪除條 款項目於「Racing Pro」或其他通訊公布時即時生效。當訂戶繼續使用「Racing Pro」服務時即代表訂戶接受該修訂。
                                </p>
<p>5. 更改訂購服務 </p>
<p>「Racing Pro」有權立即終止對任何訂戶所提供之訂購服務，事先無須以書面通知。訂 戶不得更改或終止訂購服務。
                                </p>
<p>6. 免責聲明 </p>
<p>請見下面部分

                                </p>
<p>7. 不得轉讓訂購服務 </p>
<p>訂購服務只限訂戶個人使用。訂戶單位必須為獨立人士，而非任何公司或團體。未得「Racing Pro」之許可，訂戶不得轉售訂購服務內容或作商業用途。
                                </p>
<p>8. 訂戶操守 </p>
<p>訂戶不得利用「Racing Pro」之內容作非法用途。訂戶需全部負責資訊傳送之過程。訂戶必須遵守本地及海外之法律，不得進行違法活動，在任何情況下引致觸犯所屬地區之法律，訂戶須自行承擔責任，本網站恕不負責
                                </p>
<p>9. 終止訂購 </p>
<p>訂戶不得更改訂購服務。如訂戶並不同意任何經修改的訂購條款，請勿繼續使用訂購服務。而「Racing Pro」不會退還已付之訂購費用。
                                </p>
<p>10. 消息通知 </p>
<p>「Racing Pro」將以書面形式，透過電郵、Whatsapp、傳統郵寄方式或透過「Racing Pro」通知訂戶所有訂購消息。
                                </p>.
<p>11. 知識產權保障之內容 </p>
<p>訂戶必須認明「Racing Pro」所提供之內容，包括︰文字、檔案、音樂、聲音檔案、相 片、影片、圖案或廣告內容只限訂戶於網上瀏覽，並受版權、商標、專利權或其他知識產權法例保障。訂戶下載受知識產權保障之內容只限私人或非商業用途。訂戶必須保存完整內容，未經「Racing Pro」同意下，不得翻印、複製、散播或製造由下載內容而衍生的作品。</p>

<p>12. 法例 </p>
<p>此訂購條款受香港特別行政區法例監管。</p>


<h2>免責聲明</h2>


<p>您明確了解並同意您使用「Racing Pro」的服務之風險是由您個人負擔。本資訊、產品 及服務是依「現況」及「現有」基礎提供。</p>
<p>
本網站「Racing Pro」提供之資料及其內容（包括指示條款）僅供參考，並不構成要約、招攬或邀請、宣傳、誘使，或任何不論種類或形式之表示、建議或推薦購買本網站所述的任何產品或計劃(不論按指示條款或其他方式)。</p>
<p>
本網站所載資料（包括任何意見或預測），取自相信為可靠之資料來源。然而，本網並無核實所有資料，亦不表示有關資料對閣下所需用途而言乃屬準確或完整，故不應加以依賴。本公司並無責任更新資料或改正任何其後顯現之錯誤。本網站所載述的意見、預測及其他資料可予更改或撤回，恕不預早通知。</p>
<p>
                                本網站的內容並不打算向任何用戶提供購買本網站所述的任何產品或計劃，因此不應當作該等建議而予以倚賴。任何披露記錄、披露或分析乃按本網作出之假設及參數而編製，並不構成本網之建議。</p>
<p>
本公司並不保證任何此等記錄、披露或分析之準確性、完整性或合理性。並且不表示或保證所顯示之任何表現或回報今後將能達致。過往表現並非未來回報之保證。本公司概不表示或保證任何資料均屬完整、可靠、準確、具時效或適用於任何用途。</p>
<p>
「Racing Pro」及其聯屬網站或該等網站之擁有者、主管人員、僱員或代理對本網站或任何與本網站連結之第三者網站所載資料的可靠性、完整性、時效性、準確性或適用性概不作任何表示或保證，而對任何人士因此等資料之錯誤、錯述、遺漏或加以依賴而蒙受任何損失或損害（包括因疏忽理由），彼等概不負責或承擔法律責任。</p>
<p>
「Racing Pro」及其聯屬網站或該等網站之擁有者、主管人員、僱員或代理並不就購買本網站所提述之產品或計劃而產生之財務或任何其他後果承擔受信或其他任何責任。任何投注建議並未考慮個別投注者的特定投注目標及／或財政資源。</p>
<p>
投注者應自行運用獨立思考能力評估投注的相關適合性及風險，如認為需要， 於作出任何投注/購買行動前應諮詢本身之法律、財務及其他專業顧問。本網站提述之投注推介/貼士/分析可輸亦可贏，在若干情況下，投注者可能損失其全部投注。</p>
<p>
                                過往表現並不預示末來表現。投注者應評估投資/投注此等產品涉及之風險，並諮詢其法律、財務、稅務、會計及其他專業顧問，以確保作出適合其本身情況及財務狀況的投注決定。</p>
<p>
「Racing Pro」不保証所提供的資訊、產品及服務將符合您的要求，或該資訊、產品及服務及其使用及取得之結果不受干擾、及時提供、正確、安全可靠或免於出錯。本網旨在以最快捷的方式為公眾人士提供清楚準確的最新資料，但在整理資料及編寫程式時或會有無心之失，以及足球/賽馬/任何貼士根本沒有百分百準確無誤。</p>
<p>
                                故本網特此聲明，本網站所載的資料如有任何不確之處、貼士不準、遺漏或誤植錯字，並引致任何直接或間接的損失或虧損，本網概不負責，亦不會作出任何賠償(不論根據侵權法、合約或其他規定亦然)。</p>
<p>
「Racing Pro」不保証經由或透過本網購買或取得之任何商品及服務之結果。「Racing Pro」不負責，亦不承擔任何一切因使用本網而引致之任何意外、錯誤、遺漏、疏忽、干擾、經傳送或接收的錯誤、因下載而感染電腦病毒、誹謗、合約毀壞、版權或知識產權侵犯及所造成的任何損失。</p>
<p>
                                本公司可隨時透過於本網站載列更新條款，以修訂此等條款及條件，但不承諾會定時更新此網站資料，亦不會向閣下作出任何其他形式的通知。</p>
<p>
「Racing Pro」及其聯屬網站或該等網站之擁有者、主管人員、僱員或代理概不就使用本網站而產生的任何直接、間接、特殊或其他損害而向任何人士承擔責任，即使已獲明確告知有機會或可能會出現該等損害亦然。</p>


                            </div><!-- about full end -->
                          
                             <div ng-show ="currentLang()=='english'" class="sixteen columns about-column-full myfont" >
                   

<p>Please read the terms and conditions carefully before you acquire or use any of the products or services (as defined below).  Upon acquiring or using any of the products or services, you will be deemed to have accepted all the terms and conditions contained herein and will be bound by them.</p>

<p>1. Acceptance of terms</p>
   <p> All subscribers (the “Subscriber”) of the service provided by Racing Pro are bound by the following terms and conditions (the “Terms and Conditions").  Racing Pro may at its own discretion and at any time amend or revise the Terms and Conditions.  If you do not agree with the Terms and Conditions, please do not register to become Subscriber.  All fees paid will not be refunded.</p>

                                 <p>2. Description of the service</p>
<p>The service subscribed by Subscriber refers to the browsing of the materials on the website provided by Racing Pro (the “Service Subscribed”).  The Service Subscribed will be transmitted to Subscriber through internet or other electronic means.  Subscriber shall be responsible for the provision of telephone lines, computer hardware and other devices in normal operation. 

                                 <p>3. Responsibility of Subscriber</p>
<p>Service Subscribed is only limited to paid Subscriber and the right of use shall not be transferred to any other third parties.  In order to maintain a normal subscription service, Subscriber agrees and undertakes to:<br/>
(i) Pay all subscription fees when due;<br/>
(ii) Provide accurate and complete personal information as required in the subscription; and<br/>
(iii) Maintain the said information updated if necessary<br/>
    If the information provided is incorrect, Racing Pro has the right to terminate the provision of the Service Subscribed to Subscriber.</p>

                                 <p>4. Amendment or revision of the Terms and Conditions</p>
<p>    Racing Pro has the right to amend or revise the Terms and Conditions from time to time, including but not limited to a revision of the subscription fees.  Such amendments, additions or deletions of relevant terms and conditions shall be effective immediately upon the giving of notice by Racing Pro or by other communication means.  Any use of Service Subscribed after such notice shall be deemed to constitute acceptance by Subscriber of such amendments or revisions.</p>

                                 <p>5. ALTERATION of subscription service</p>
<p>    Racing Pro has the right to terminate immediately the provision of Service Subscribed to any Subscriber without giving any prior written notice.  Subscriber has no right to alter or terminate Service Subscribed.</p>

                                 <p>6. Disclaimer</p>
<p>    Please refer to the relevant section below. </p>

                                 <p>7. Subscription service is not transferable </p>
<p>    Subscription service is only available to Subscriber for personal use.  Subscriber must be an individual, and shall not be any company or organization.  Subscriber shall not transfer Service Subscribed for sale or cause commercial use of Service Subscribed.</p>

                                 <p>8. Conduct of Subscriber</p>
<p>    Subscriber shall not use the contents provided by Racing Pro for illegal purpose. Subscriber shall be responsible for the process of transferring information.  Subscriber shall comply with local and overseas laws and regulations, and shall not conduct any illegal behaviour.  Subscriber, instead of the operator of this website, shall be responsible for any consequences arising from the violation of the laws by which the jurisdiction of the Subscriber is governed.  </p>

                                 <p>9. Termination of subscription </p>
<p>    Subscriber shall not alter Service Subscribed or materials contained therein.  If Subscriber does not agree with any amended or revised Terms and Conditions, they shall discontinue the use of Service Subscribed.  Racing Pro will not refund any paid subscription fees.</p>

                                 <p>10. NoTICE </p>
<p>    Racing Pro will inform Subscriber of all matters relating to the subscription in written format by emails, “Whatsapp”, mail delivery or Racing Pro itself.</p>

                                 <p>11. INTELLECTUAL PROPERTY RIGHTS</p>
<p>    Subscriber acknowledges that the content, including but not limited to text, software, music, sound, photographs, video, graphics or other material contained in advertisements, provided by Racing Pro, is protected by copyrights, trademarks, patents or other proprietary rights and laws.  Subscriber may make a copy of the content protected by intellectual property rights for Subscriber's sole personal, non-commercial use only, and shall keep all content intact.  Subscriber may not copy, reproduce, distribute or create derivative works from the content without expressly being authorized to do so by Racing Pro. </p>

        <p>12. Governing laws</p>
<p>    The Terms and Conditions shall be governed by and construed in accordance with the laws of the Hong Kong Special Administrative Region of the People’s Republic of China.</p>


<h2>Disclaimer</h2>

<p>You expressly agree that use of services provided by Racing Pro is at your sole risk.  The information, products and services are provided on an "as is" and "as available" basis.</p>
<p>
The information on this website and its contents provided by Racing Pro including indicative terms are provided for information purpose only and do not constitute an offer, a solicitation of an offer or invitation, advertisement, inducement, representation of any kind of form whatsoever or any advice or recommendation to buy any products or schemes referred to herein (whether on the indicative terms or otherwise).</p>
<p>
The information herein (including any expression of opinion or forecast) has been obtained and derived from sources believed to be reliable and accurate.  However, we have not verified all the information and we do not represent that it is accurate or complete for your purpose and it should not be relied upon as such.  We have no obligation to update the information or correct any inaccuracy which subsequently becomes apparent.  Opinions, estimates and other information contained herein may be changed or withdrawn without prior notice.</p>
<p>
The content of this website is not intended to provide any advice to any user on the purchase of any products or schemes as stated herein, and should not be relied upon in that regard.  Any records, disclosures or analyses have been prepared on assumptions and parameters that reflect determinations by us and do not constitute advice by us.</p>
<p>
No guarantee is given as to the accuracy, completeness or reasonableness of any such records, disclosures or analyses.  No representation or warranty is made that any indicative performance or return indicated will be achieved in the future.  Past performance is not a guarantee of future results.  We do not represent or warrant the completeness, reliability, accuracy, timeliness or fitness for any purpose of any of the material.</p>
<p>
None of Racing Pro and its affilates or the owners, officers, employees or agents, of those websites gives any representation or warranty as to the reliability, completeness, timeliness, accuracy or fitness for any purpose of the information contained herein or any third party website linked to this website, nor does any of them accept any responsibility or liability for any loss or damage arising in any way (including by reason of negligence) out of errors or misstatements in, omissions from, or the reliance of any person on, the information. </p> 
<p>
Racing Pro and its affiliates or the owners, officers, employees or agents, of those websites assume no fiduciary or other responsibility for any consequences, financial or otherwise, arising from the acquisition of the products or schemes referred to herein. Any betting recommendation made does not take account of the specific betting objectives and/or financial resources of particular bettors. </p>
<p>
Bettors should make his own appraisal of the suitability and risks of such a bet and should consult to the extent necessary their own legal, financial and other professional advisors in this respect prior to any betting or acquisition.  Recommendations, tips and analyses referred to on this website may incur a win as well as a lost, and under certain circumstances a bettor may sustain a total loss of his/her bet.</p>
<p>
Past performance is not indicative of future results.  A bettor should make an appraisal of the risks involved in investing or betting in these products and should consult his/her own legal, financial, tax, accounting and other professional advisors, to ensure that any decision made is suitable with regards to that bettor's circumstances and financial position.</p>
<p>
Racing Pro makes no warranty that the information, products and services will meet your requirements, or that the said information, products and services and their use and results will be free from interruption, timely secure, accurate, safe, reliable or error free.  This website endeavours to offer the most current, correct and clearly expressed information to the public in the quickest way.  However, inadvertent errors in information and in software may occur, and no football, horse-racing or any other kinds of tips would be completely accurate. </p>
<p>
This website disclaims any responsibility and accept no liability (whether in tort, contract or otherwise) for any direct or indirect loss or damage arising from any inaccuracies, inaccurate tips, omissions or typographical errors that may be contained in the information on this website.</p>
<p>
Racing Pro makes no warranty of the result arising from the acquisition or obtaining of any products and services through this website. Racing Pro also disclaims any liability as a result of any damages caused by use of this website which results in mistake, error, omission, negligence, interruption, error in transmission or receipt, computer virus followed by download, defamation, breach of contract or infringement of intellectual property rights.</p>  
<p>
We may amend these terms and conditions at any time by posting the updated terms on this website, although we do not undertake to update this site regularly.  No other form of notification will be delivered to you. </p>
<p>
In no event will Racing Pro and its affiliates or the owners, officers, employees or agents, of those websites be liable to any party for any direct, indirect, special or other consequential damages arising out of any use of this website even if we are expressly advised of the possibility or likelihood of such damages.</p>

                            </div><!-- about full end -->
                          
                            
                            
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- about end -->