 <!-- about start -->
        <div class="lower-page" >
            <!-- center container start -->
            <div class="center-container">
                <!-- center block start -->
                <div class="center-block">
                    <!-- lower content start -->
                    <div class="social-icons-wrapper">
                                       <ng-include src="'app/view/langBar.html'"></ng-include>

                    </div>
                    <div class="lower-content">
                        <!-- about intro start -->
                        
                        <!-- container start -->
                        <div class="container center">
                            <div class="about-intro">
                            <h2 translate="TUTORIAL_TITLE">
                               
                            </h2>
                        </div><!-- about intro end -->
                            <!-- divider left top start -->
                            <div class="sixteen columns">
                                <div class="divider-left-top"></div>
                            </div><!-- divider left top end -->
                            <!-- divider right top start -->
                            <div class="sixteen columns">
                                <div class="divider-right-top"></div>
                            </div><!-- divider right top end -->
                            <!-- about full start -->
                            <div ng-show ="currentLang()=='chinese'" class="sixteen columns about-column-full myfont" >
                               

<p>第一步 : 用瀏覽器進入 http://www.racingprohk.com/ 及 登入程式</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step1.png"/></p>                        
<p>第二步 : 選擇當日賽馬場次 (請在賽馬當日使用)</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step2.png"/></p>                        

<p>第三步 : 按分析</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step3.png"/></p>
                                
<p>第四步 : 用瀏覽器進入 http://bet.hkjc.com/ 及按左邊的獨嬴/位置 或 連嬴/位置Q</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step4.png"/></p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step4_2.png"/></p>
                                
<p>第五步 : 跟隨程式顯示的最高分數前3名馬匹進行投注</p>
                              
<p>投注項目:</p>
                                
<p>第一高分馬匹 : 投注 – 獨嬴及位置
<br/>
第二高分馬匹 : 投注 – 位置<br/>
第三高分馬匹 : 投注 – 位置<br/>
第一,二,三高分馬匹 : 投注 – 連嬴及位置Q<br/>
                                </p>

<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step5.png"/></p>
<p><img style="max-width:100%;" src="assets/images/tutorial/zh/step5_2.png"/></p>
  
                            </div><!-- about full end -->
                          
                             <div ng-show ="currentLang()=='english'" class="sixteen columns about-column-full myfont" >
                   
<p>STEP 1 : Using a browser , access http://www.racingprohk.com/ and login to Racing Pro</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step1.png"/></p>                        
<p>STEP 2 : Select a race (Please analysis on racing day)</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step2.png"/></p>                        

<p>STEP 3 : Press SCORE</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step3.png"/></p>
                                
<p>STEP 4 : Using a browser , access http://bet.hkjc.com/ and press Win/Place or Quinella/Quinella Place on left hand side</p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step4.png"/></p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step4_2.png"/></p>
                                
<p>STEP 5 : Following the analysis and bet the Top 3 </p>
                              
<p>How to bet:</p>
                                
<p>First one : bet on – Win & Place
<br/>
Second one : bet on – Place<br/>
Third one : bet on – Place<br/>
First, Second and Third one : bet on – Quinella & Quinella Place<br/>
                                </p>

<p><img style="max-width:100%;" src="assets/images/tutorial/en/step5.png"/></p>
<p><img style="max-width:100%;" src="assets/images/tutorial/en/step5_2.png"/></p>

                            </div><!-- about full end -->
                          
                            
                            
                            <!-- divider left bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-left-bottom"></div>
                            </div><!-- divider left bottom end -->
                            <!-- divider right bottom start -->
                            <div class="sixteen columns">
                                <div class="divider-right-bottom"></div>
                            </div><!-- divider right bottom end -->
                        </div><!-- container end -->
                        
                    </div><!-- lower content end -->
                </div><!-- center container end -->
            </div><!-- center block end -->
        </div><!-- about end -->