

  <ul class="social-icons">
    <li ><span translate="TEMP"></span><span> {{temp}}</span> ℃</li>
    <li ><span translate="HUMI"></span><span> {{humi}}</span> %</li>
    <li ><span translate="WIND"></span><span> {{wind}}</span> m/s</li>

    <li ng-show="currentLang()=='english'">


      <a  ng-click="changeLanguage('chinese')"  >中文版</a>
    </li>
    <li ng-show="currentLang()=='chinese'">
      <a   ng-click="changeLanguage('english')" >English</a>

    </li>
    <li >
      <a class="fa fa-facebook-square fa-2x" target="blank" href="https://www.facebook.com/racingprohk"></a>
    </li>


  </ul>

